<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>

          <!-- Exclude assemblies -->
          <Exclude>
            [*]*Tests*
          </Exclude>

          <!-- Exclude folders/files -->
          <ExcludeByFile>
            **/DTO/*.cs;
            **/Migrations/*.cs;
            **/Middleware/*.cs;
            **/Mapping/*.cs;
            **/Validator/*.cs;
            **/Configuration/*.cs;
            **/Extensions/*.cs;
            **/Users/*.cs;
            **/SerilogMasking/*.cs;
            **/Program.cs;
            **/Startup.cs;
            **/*ApiClient.cs;
            **/*Migration*.cs;
            **/*ModelSnapshot.cs;
            **/*.generated.cs
          </ExcludeByFile>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>